/**********************
    GENERAL STYLES 
**********************/
html {
    position: relative;
    min-height: 100%;
}

body {
	background-color: #000000;
	width: 100%;
}

#wrapper {
	background-color: #000000;
	min-height: 100%;
	width:75%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 5px;
	color: #00CC00;
	position: relative;
}

.logo {
	width: 20%;
	min-width: 125px;
	height: auto;
	margin-left: -5%;
	clear: both;
}

#login, #profile {
	display: inline-block;
	position: absolute;
    top: 5px;
    right: 5px;
} 

header {
	height: auto;
	width: 100%;
}

section {
	height: auto;
	width: 100%;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: auto;
    width: 100%;
    padding-bottom: 1%;
}

/**********************
     FONT STYLES 
**********************/

p {
	font-size: 0.8rem;
}