/**********************
    GENERAL STYLES 
**********************/
html {
    position: relative;
    min-height: 100%;
}

body {
	background-color: #000000;
}

#wrapper {
	background-color: #000000;
	min-height: 100%;
	width:1024px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 5px;
	color: #00CC00;
}

.logo {
	float: left;
	width: 24.4140625%;
	height: 12.20703125%;
}

nav {

}

section {
	
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
}